
/*  textul din textbar-uri
    inainte de a scrie ceva*/

::placeholder
{
    color:var(--c,#c36b84);
}

/*   elemente selectionate   */

input:focus,
select:focus,
textarea:focus,
button:focus 
{
    outline: none;
}

html 
{
    display:table; 
    width:100%;
}

body 
{
    display:table-cell; 
    text-align:center; 
    vertical-align:middle;
}

/*  blocuri
    bara de titlu    */

#upperdiv
{
    text-align:center; 
    margin-top:-100px; 
    width:100%; 
    height:120px; 
    margin-bottom:150px;
}

/*  blocul central si blocurile cu continut  */

.maindiv
{
    display:flex; 
    align-items:center; 
    justify-content:center;
    margin-top:10px;
}

#contentdiv
{
    display:flex; 
    align-items:center; 
    justify-content:center;
    margin-top:150px;
}

#comingsoon
{
    text-align:center; 
    width:435px;
    background-color:#ed6b5b; 
    padding:5px; 
    margin:15px;
    border-radius:10px;
}

#tall
{
    text-align:center; 
    width:900px;
    background-color:#ed6b5b; 
    padding:15px; 
    margin:15px;
    border-radius:10px;
}

#imager
{
    text-align:center; 
    width:800px;
    background-color:#ed6b5b; 
    padding:15px; 
    margin:15px;
    border-radius:10px;
}

#calc
{
    text-align:center; 
    width:800px;
    background-color:#ed6b5b; 
    padding:15px; 
    margin:15px;
    border-radius:10px;
}

#fileint
{
    font-size:20px; 
    font-family:Cascadia Code; 
    margin-bottom: 55px; 
    margin-top:150px;
    width:300px;
    background-color: #f9ac66; 
    border:none; 
    color:#3a3e59; 
    border-radius:5.5px;
    transition:all 0.3s;
}

/*  titlu   */

#titolo
{
    color:#ed6b5b;
    font-size:100px; 
    font-family:Leelawadee;
}

#titlelink
{
    text-decoration: none;
    color:#ed6b5b;
}

#titlelink:visited
{
    text-decoration: none;
    color:#ed6b5b;
}

/*  buton info1 */

.findout
{
    margin-right:300px;
    margin-bottom:15px;
    margin-left:20px;
    border-radius:4px;
    width:180px;
    height:24px;
    border:none;
    background-color: #f9ac66;
    color:#3a3e59;
    font-family: Cascadia Code;
    font-size:18px;
    transition: all 0.3s;
}

.findout:hover
{
    color:#c36b84;
}

/*  info in content    */

.contentinfo
{
    font-family: Cascadia Code;
    font-size:25px;
    color:#3a3e59;
}

.smallinfo
{
    font-family: Cascadia Code;
    font-size:15px;
    color:#3a3e59;
    margin-top:-20px;
}

.reslbl
{
    font-family: Cascadia Code;
    font-size:36px;
    margin-top:425px;
    color:#3a3e59;
}

/*  patratii din mijloc */

.content
{
    text-align:center; 
    width:435px;
    background-color:#ed6b5b; 
    padding:5px; 
    margin:15px;
    border-radius:10px;
}

/*  imagini si gif-uri  */

.imagery
{
    margin:15px;
    border-radius: 7px;
    float:left;
}

/*  textele de info de pe patrati   */

.info
{
    font-family: Cascadia Code;
    font-size:22px;
    color:#3a3e59;
}

/*  text-bar-uri si texte   */

.textint
{
    font-size:40px; 
    font-family:Cascadia Code; 
    margin-bottom: 12px; 
    width:400px;
    background-color: #f9ac66; 
    border:none; 
    color:#3a3e59; 
    border-radius:5.5px;
    transition:all 0.3s;
}

.textint:hover
{
    color:#c36b84;
}

.textint:focus
{
    color:#c36b84;
}

.divint
{
    font-size:36px; 
    font-family:Cascadia Code; 
    margin-bottom:12px; 
    color:#3a3e59;
}

.rb
{
    width:25px;
    height:25px;
}

/*  buton de tema   */

.btnanim2
{
    width:45px; 
    height:45px; 
    border:none; 
    border-radius:50%; 
    margin-left:25px;
    margin-top:25px;
    position:fixed;
    top:0;
    background-color:black;
    color:white;
    display:none;
    font-size:25px;
    transition:0.25s;
}

.btnanim2:hover
{
    width:60px;
    height:60px;
    margin-left:17.5px;
    margin-top:17.5px;
}

.btnanim2:active
{
    background-color:white;
    color:black;
}

.btnanim1
{
    width:45px; 
    height:45px; 
    border:none; 
    border-radius:50%; 
    margin-left:25px;
    margin-top:25px;
    position:fixed;
    top:0;
    background-color:white;
    color:black;
    display:block;
    font-size:25px;
    transition:0.25s;
}

.btnanim1:hover
{
    width:60px;
    height:60px;
    margin-left:17.5px;
    margin-top:17.5px;
}

.btnanim1:active
{
    background-color:black;
    color:white;
}

/*  limba   */

.btnanim3
{
    text-align: center;
    width:45px; 
    height:45px; 
    border:none; 
    border-radius:50%; 
    margin-left:25px;
    margin-top:25px;
    position:fixed;
    top:70px;
    background-color:white;
    display:block;
    transition:0.25s;
}

.btnanim3:hover
{
    margin-left:12.5px;
    width:70px;
    height:182px;
    border-radius:35px;
}

.btnanim3:hover > #it
{
    visibility: visible;
}

.btnanim3:hover > #en
{
    visibility: visible;
}

.btnanim3:hover > #ro
{
    margin-top:10px;
    margin-left:2px;
}

#en
{
    width:45px;
    height:45px;
    border:none;
    border-radius:50%;
    background-color: aqua;
    margin-top:10px;
    margin-left:2px;
    background-image: url("../../resources/en.png");
    visibility: hidden;
}

#ro
{
    width:45px;
    height:45px;
    border:none;
    border-radius:50%;
    background-color: aqua;
    margin-top:0px;
    margin-left:0px;
    background-image: url("../../resources/ro.png");
    transition: all 0.3s;
}

#it
{
    width:45px;
    height:45px;
    border:none;
    border-radius:50%;
    background-color: aqua;
    margin-top:10px;
    margin-left:2px;
    background-image: url("../../resources/it.png");
    visibility: hidden;
}

/*  fundal  */

.purple-mode
{
    background-color: #3a3e59;
}

.white-mode
{
    background-color: #F1F1F2;
}

/*  buton de submit  */

.conferma
{
    font-size:40px; 
    font-family:Cascadia Code; 
    margin: 15px;
    width:200px; 
    height:50px;
    background-color: #f9ac66; 
    border:#3a3e59; 
    color:#3a3e59; 
    border-radius:5.5px;
    transition:all 0.3s;
}

.equals
{
    font-size:40px; 
    font-family:Cascadia Code; 
    margin: 2px;
    width:60px; 
    height:50px;
    background-color: #f9ac66; 
    border:#3a3e59; 
    color:#3a3e59; 
    border-radius:5.5px;
    transition:all 0.1s;
}

.equals:active
{
    background-color: #3a3e59;
    color:#c36b84;
}

.nums
{
    font-size:40px; 
    font-family:Cascadia Code; 
    margin:2px;
    width:60px; 
    height:50px;
    background-color:#3a3e59; 
    border:#3a3e59; 
    color:#c36b84; 
    border-radius:5.5px;
    transition:all 0.1s;
}

.nums:active
{
    color:#f9ac66;
}

.formula
{
    font-size:35px; 
    font-family:Cascadia Code; 
    text-align: right;
    margin: 5px;
    margin-top:15px;
    width:260px; 
    height:75px;
    background-color: #f9ac66; 
    color:#3a3e59; 
    border-radius:5.5px;
    border:none;
    resize: none;
    vertical-align:middle;
    transition:all 0.3s;
}

.formula::-webkit-scrollbar
{
    width:10px;
}

.conferma:hover
{
    color:#c36b84;
}

#c2,#retry1,#retry2
{
    width:300px;
}

/* ---------- */